@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$dark-one: #333;
$dark-two: #7a7a7a;
$dark-three: rgba(0, 0, 0, 0.897);
$main-color: #784cfb;
$light-one: #fff;
$light-two: #f9fafb;
$light-three: #f6f7fb;



// Начало 'обнуляющий код'
*, *::before, *::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body, button, input, textarea{
   font-family: "Poppins", sans-serif;
}
ul{
   list-style-type: none;
}
a{
   text-decoration: none;
}
img{
   width: 100%;
}
//Конец 'обнуляющий код'

//Start restart codes
.container{
   max-width: 92rem;
   margin: 0 auto;
   padding: 0 4rem;
   z-index: 5;
}
.grid-2{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: space-between;
   align-items: center;
   justify-content: center;
}
.text{
   line-height: 1.4;
   font-size: 1.25rem;
   color:$dark-two;
}
.column-1{
   margin-right: 2rem;
}
.column-2{
   margin-left: 2rem;
}
.btn{
   
   display: inline-block;
   padding: .85rem 2rem;
   background-color:#5e35da;
   border-radius: 2rem;
   color: $light-one;
   font-size: 1.05rem;
   text-transform: uppercase;
   font-weight: 400;
   transition: .3s;
   opacity: .9;
      &:hover{
         opacity: 1;
         color: $light-two;
      }
}
.btn.small{
   padding: .7rem 1.8rem;
   font-size: 1rem;
}
.overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   overflow: hidden;
   top: 0;
   left: 0;
 }
 .overlay.overlay-sm .shape {
   filter: brightness(0) invert(1);
   opacity: 0.15;
   height: 40px;
 }
 
 .overlay.overlay-sm .shape.wave {
   height: initial;
   width: 70px;
 }
 
 .overlay.overlay-sm .shape.xshape {
   height: 30px;
 }
//End restart codes

//start header
header{
   width: 100%;
   overflow: hidden;
}
nav{
   width: 100%;
   position: relative;
   z-index: 50;
   background-color: $light-three;
   .container{
      display: flex;
      height: 6rem;
      justify-content: space-between;
      align-items:center;
   }
   .logo{
      width: 150px;
      overflow: hidden;
      display: flex;
   }
   .links ul{
      display: flex;
      & .active{
         background-color: $main-color;
         border-radius: 2rem;
         color: $light-one;
         font-weight: 400;
         font-size: 1rem;
         padding: .9rem 2.1rem;
         margin-left: 1rem;
         &:hover{
            color: $light-one;
            background-color: #6b446b;
         }
      }
      & a{
         display: inline-block;
         padding: .9rem 1.2rem;
         color: $dark-one;
         font-size: 1.05 rem;
         font-weight: 500;
         line-height: 1;
         transition: .3s;
         &:hover{
            color: $main-color;
         }
      }
   }
}
.header-content .container.grid-2{
   grid-template-columns: 2.5fr 3.5fr;
   min-height: calc(70vh - 6rem);
   padding-bottom: 1.5rem;
   text-align: left;
}
.header-title{
   color:$dark-one;
   line-height: .8;
   font-size: 1.5rem;
   margin-bottom: 23px;
}
.header-text{
   margin-bottom: 20px;
}
.image{
   display: flex;
   align-items: center;
   justify-content: center;
}
.header{
   position: relative;
}
.header-content .image-elem{
   margin-left: 9%;
   max-width: 90%;
   max-height: 750px;
}
//end header

//start section secvices 
.section-header{
   text-align: center;
   margin-bottom: 1.5rem;
   line-height: 1;
   font-size: 2.8rem;
}
.title{
   position: relative;
   display: inline-block;
   padding-bottom: 1rem;
   margin-bottom: .6rem;
   &::before{
      content: attr(data-title);
      display: block;
      margin-bottom: 0.4;
      color: $main-color;
      font-size: 1.15rem;
      letter-spacing: 3px;
   }
   &::after{
      content: "";
      width: 90px;
      height: 5px;
      background-color: $main-color;
      position: absolute;
      bottom: 0;
      left: 50%;
      border-radius: 3px;
      transform: translateX(-50%);
   }
}
.icon{
   width: 90px;
   margin-bottom: 1.7rem;
   
}
.section{
   padding: 7rem 0;
   &-header{
      max-width: 600px;
      margin: 0 auto;
   }
}
.cards{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 100%;
}
.card-wrap{
   margin:1.7rem .8rem;
   transition: .3s;
   position: relative;
   &:hover{
      transform: translateY(-15px);
   }
   &:hover::after{
      width: 100%;
      height: 8px;
   }
   &::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      background-color: $main-color;
      transition: .3s;
   }
}
.card{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 3rem 2rem;
   overflow: hidden;
   max-width: 390px;
   min-height: 520px;
   transition: .3s;
   background-color: $light-three;
   &::before{
      display: flex;
      justify-content: center;
      content: attr(data-card);
      position: absolute;
      color: $main-color;
      top: 0;
      left: 0;
      font-size: 6rem;
      font-weight: 800;
      line-height: 1;
      opacity: 0.03;
      margin-left: 16%;
   }
}
.title-sm{
   line-height: 0.8;
   color: $dark-one;
   font-size: 1.6rem;
   font-weight: 700px;
}
.card .title-sm{
   line-height: .8;
}
.card .text{
   font-size: 1.15rem;
   margin: 1.5rem;
}
//Start portfolio
.portfolio{
   width: 100%;
   background-color: $light-two;
   position: relative;
   letter-spacing: 2px;
}
.background-bg{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 520px;
   background-color:$main-color;
}
.portfolio .title, .portfolio .title::before{
   padding-top: 4%;
   color: $light-one;
}
.portfolio .title::after{
   background-color: $light-one;
}
.filter{
   width: 100%;
   margin-top: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   .filter-btn{
      border: none;
      outline: none;
      background-color:transparent;
      margin: .45rem .4rem;
      padding: 0.4rem 1.8rem;
      color: $light-one;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 2rem;
      transition: .3s;
   }
}
.filter-btn.active{
   background-color:$light-one;
   color: $main-color;
}
.grid{
   width: 100%;
   margin: 1.5rem 0;
}
.grid-item{
   width: 33.3%;
   padding: 1rem 1.2rem;
   display: flex;
   justify-content: center;
}
.gallery-image{
   position: relative;
   overflow: hidden;
   border-radius: 16px;
   height: 290px;
   width: 100%;
   &:hover img{
      transform: translate(-50%, -50%) scale(1.3);
   }
   & img{
      transform-origin: center;
      position: absolute;
      height: 115%;
      width: initial;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      transition: .3s;
   }
}
.gallery-image .img-overlay{
   opacity: 0;
   transition: .5s;
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   z-index: 2;
   color: $light-one;
   background-color: rgba( 120, 76, 251, 0.55);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   padding: 2rem 2.3rem;
   &:hover{
      opacity: 1;
   }
}
.img-overlay .plus{
   margin: auto 0;
   position: relative;

}
.plus::before, .plus::after{
   content: '';
   position: absolute;
   width: 2.7rem;
   height: 1.8px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: $light-one;
   border-radius: 3px;
}
.img-desc{
   width: 100%;
}
.plus::before{
   transform: translate(-50%, -50%) rotate(-90deg);
}
.img-overlay h3{
   font-weight: 600;
   text-transform: uppercase;
   font-size: 1.1rem;
}
.img-overlay h5{
   font-weight: 400;
   font-size: 1.1rem;
}
.more-portfolio{
   display: flex;
   justify-content: center;
}
// End portfolio

//Start about
.about{
   overflow: hidden;
   & h3.title{
      color: black;
      &::before{
         color: $main-color;
      }
      &::after{
         background-color: $main-color;
      }
   }
   & img{
      max-width: 600px;
   }
   & .text{
      margin-top: 1rem;
   }
}
.skills{
   margin: 1.5rem 0 2.5rem 0;
}
.skill{
   margin-top: 1rem;
   &-title{
      color: #555;
      font-weight: 600;
   }
}

.skill-title {
   color: #555;
   font-weight: 600;
   margin-bottom: 0.3rem;
 }
 
 .skill-html-bar {
   width: 70%;
   height: 8px;
   border-radius: 4px;
   background-color: #ece6fa;
   position: relative;
   overflow: hidden;
   &::after{
      content: '';
      width: 56%;
      height: 8px;
      border-radius: 4px;
      position: absolute;
      background-color: $main-color;
   }
 }
 .skill-css-bar {
   width: 70%;
   height: 8px;
   border-radius: 4px;
   background-color: #ece6fa;
   position: relative;
   overflow: hidden;
   &::after{
      content: '';
      width: 59%;
      height: 8px;
      border-radius: 4px;
      position: absolute;
      background-color: $main-color;
   }
 }
 .skill-js-bar {
   width: 70%;
   height: 8px;
   border-radius: 4px;
   background-color: #ece6fa;
   position: relative;
   overflow: hidden;
   &::after{
      content: '';
      width: 30%;
      height: 8px;
      border-radius: 4px;
      position: absolute;
      background-color: $main-color;
   }
 }

 
 .about .column-1 {
   position: relative;
 }
 
.about .column-1:before {
   content: "About";
   position: absolute;
   font-size: 8rem;
   font-weight: 800;
   color: var(--main-color);
   opacity: 0.04;
   top: 20px;
   left: 0;
   line-height: 0;
}
//end about

//start records
.records {
   position: relative;
   background-color: $main-color;
   padding: 5.2rem 0;
   & .container{
      display: grid;
      grid-template-columns:repeat(4, 1fr);
      justify-content: center;
      align-items: center;
      text-align: center;
      grid-column: 1.5rem;
      grid-row: 2rem;
   }
}
.record-cicle {
   width: 180px;
   height: 180px;
   border-radius: 50%;
   border: 4px solid $light-one;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color:$light-one;
   &.active{
      color: $dark-one;
      background-color: $light-one;
      box-shadow: 0 0 0 15px rgba(255,255, 255, 0.5);
   }
}
.number {
   font-weight: 400;
   font-size: 2.35rem;
}
.sub-title {
   font-weight: 500;
   text-transform: uppercase;
   font-size: 1.2rem;
}
//end records
//start my blog
.blog .title, .testimonials .title{
   color:black;
   &::before{
      color: $main-color;
   }
   &::after{
      background-color: $main-color;
   }
}
.blog-wrapper{
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   justify-content: space-around;
}
.blog-wrap{
   margin: 1.3rem .5rem;
}
.blog-card{
   max-width: 420px;
   width: 100%;
   overflow: hidden;
   background-color:$light-three;
   transition: .3s;
   position: relative;
   &::after{
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      content: '';
      background-color: $main-color;
      
   }
   &:hover img{
      transition: .3s;
   }
   &:hover{
      transform: translateY(-15px);
      transition: .3s;

      & img{
         transform: translate(-50%, -50%) scale(1.1);
      }
      &::after{
         height: 8px;
      }
   }
}
.blog-image{
   width: 100%;
   height: 270px;
   position: relative;
   overflow: hidden;
   & img{
      position: absolute;
      top: 50%;
      left:50%;
      width: initial;
      height: 100%;
      transform: translate(-50%, -50%);
   }
}
.blog-content{
   padding: 2.1rem 2.2rem 2.7rem 2.2rem;
}
.blog-info{
   display: flex;
   justify-content: space-between;
   margin-bottom: 1.5rem;
   flex-wrap:wrap;
   & h5{
      color: $main-color;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 1.05rem;
   }
}
.blog-text{
   margin: 1.5rem 0 1.5rem 0;
   font-size: 1rem;
   line-height: 1.6;
   color: #666;
}

//start testimonials
.testimonials{
   background-color: $light-two;
   overflow: hidden;
}
.reviews{
   overflow: hidden;
}
.review{
   position: relative;
   padding: 2rem 1.5rem;
}
.qoute{
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0.04;
   color: $main-color;
   // font-size: ;
}

.testi-content{
   margin: 5rem 0 0 0 ;
}
.rate{
   display: flex;
   font-size: 1.4rem;
   color: #ebc000;
   margin-bottom: 1.5rem;
   & i{
      margin-right: .2rem;
   }
}
.review-text{
   font-size: 1.35rem;
   font-weight: 300;
   color: #444;
   line-height: 1.7;
}
.review-info{
   margin-top: 2rem;
}
.review-name{
   font-size: 1.3rem;
   font-weight: 700;
   color: $dark-three;
}
.review-job{
   font-size: 1.15rem;
   font-weight: 300;
   color: #777;
}
.swiper-button-prev::after, .swiper-button-next::after{
   display: none;
}
.review-nav{
   bottom: 2.2rem;
   top: initial;
   font-size: 1.8rem;
   color: $main-color;
}
.swiper-button-next{
   right: 2rem;
   left: initial;
}
.swiper-button-prev{
   right: 4.5rem;
   left: initial;
}
//end testimonials
//start contact
.contact{
   width: 100%;
   padding: 13.5rem 0 8.5rem;
   background-color: $main-color;
   & h3.title{
      color:rgba(0, 0, 0, 0.897);
      &::after{
       background-color: $main-color;
      }
   }
   &-info .title::after{
      left: 0;
      transform: initial;
   }
   &-box{
      background-color:$light-one;
      width: 100%;
      border-radius: 45px;
      padding: 5.5rem 4.5rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }
   &-info{
      padding-right: 2rem;
   }
   &-form{
      padding-left: 2rem;
   }
   &-icon{
      height: 67px;
      display: inline-block;
      border-radius:50%;
      background-color: $main-color;
      font-size: 1.3rem;
      color: $light-one;
      text-align: center;
      min-width: 67px;
      margin-right: 1rem;
      & i{
         line-height: 65px;
      }
   }
}
.info-text{
   font-size: 1.2rem;
   display: inline-block;
}
.information{
   
   &:not(:last-child){
      margin-bottom: 1.3rem;
   }
   &-wrap{
      margin-top: 20px;
   }
}
.contact-form .row{
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
   column-gap: .6rem;
   & .text-area{
      resize: none;
      max-height: 70%;
      min-height: 120px;
      width: 100%;
      margin-bottom: 1rem;
   }
}
.contact-input{
   transition: .3s;
   padding:.2rem 1.1rem;
   margin:.1rem 0;
   font-size: .8rem;
   border-radius: 1rem;
   border: none;
   background-color: #f3f3f3;
   &:hover{
      background-color: #dddddd;
   }
}
//end contact

//start responsive

@media (max-width:1280px){
   .text{
      font-size: 1rem;
   }
   .title{
      font-size: 2.1rem;
      padding-bottom: .65rem;
      &::before{
         letter-spacing: 2px;
         font-size: .8rem;
         margin-bottom: .2rem;
      }
   }
   .title-sm{
      font-size: 1.2rem;
      padding: .75rem 1.7rem;
   }
   .btn{
      padding: .75rem 1.7rem;
      font-size: .7rem;
   }
   .section-header .text{
      max-width: 500px;
      margin: 0 auto;
   }
   .section{
      padding: 4.5rem;
   }
   .column-1{
      margin-right: -1rem;
   }
   .column-2{
      margin-left: 1rem;
   }
   .header-content img{
      max-width: 500px;
   }
   .nav .container{
      height: 4.5rem;
   }
   .container.grid-2{
      max-height: calc(100vh - 4.5rem);
      padding-bottom: 1.5rem;
   }
   .card{
      min-height: 390px;
      max-width: 290px;
      padding: 2.2rem 1.5rem;
      & .icon{
         width: 75px;
      }
      & .text{
         font-size: .9rem;
      }
   }
   .img-overlay h3{
      font-size: 1.1rem;
   }
   .img-overlay h5{
      font-size: .8rem;
   }
   .blog-wrapper{
      margin-top: 2rem;
   }
   .blog-content{
      padding: .2rem 1rem;
      & .btn{
         margin-bottom: 14%;
      }
      & .blog-info{
         padding-top: 10%;
      }
   }
   .blog-wrap{
      width: 322px;
      margin: .1rem .2rem;
      & .title-sm{
         font-size: 1.3rem;
      }
      & .blog-text{
         font-size: 1rem;
      }
   }
   .row{
      min-height: 50px;
      & .text-area{
         height: 230px;
      }
   }
}
@media (max-width: 850px){
   .grid-2{
      grid-template-columns: 1fr !important;
   }
   .header-content{
      margin-top: 1rem;
      & .btn{
         margin-bottom: 1rem;
      }
      & .column-2{
         margin: 0 auto;
         margin-left: 0;
         &.image{
            width: 110%;
            margin-left: -41px;
         }
      }
   }
   header{
      & .header-content .column-2.image{
         width: 110%;
         margin-left: -41px;
      }
   }
   .header-content .image-elem{
      width: 120%;
      margin-left: 0;
   }
   .cards{
      width: 100%;
      display: flex;
      justify-content: space-between;
   }
   .card-wrap{
      width: 45%;
      &:last-child{
         display: none;
      }
   }
   .grid-item{
      width: 50%;
      &:last-child{
         display: none;
      }
   }
   .container .column-2.image{
      padding-top: 10px;
      margin-left: 0;
   }
   .container{
      .section-body{
         max-width:1100px
      }
   }
   .records .record-cicle{
      width: 120px;
      height: 120px;
   }
   .records .number{
      font-size: 2rem;
   }
   .records .sub-title{
      font-size: .8rem;
   }
   .row{
      margin-bottom: 0;
   }
   .contact-input{
      height: 45px;
      margin: 5px 0;
   }
   .blog-wrap{
      width: 48%;
      & .title-sm{
         font-size: 1.5rem;
         line-height: 1.3;
      }
      & .blog-text{
         font-size: 1rem;
      }
      &:not(:last-child){
         margin-bottom: 10px;
      }
      &:last-child{
         width: 90%;
         margin-left: 14%;
      }
   }
}
